### List
    >> List is a collection of items
    >> We can add any datatypes in list
    >> Datatypes>> int, float, str, complex, list, dict, tuple, frozenset, set, numpy array, pandas dataframes pandas series
    >> Mutable >> we can change, add, remove items in list
    >> Ordered >> list items have a defined order and that order will not change
    >> Allow Duplicates >> since list are indexed, list can have items with same value

In [3]:
thislist = ["apple", "banana", "cherry"]
print(type(thislist))
print(thislist)

<class 'list'>
['apple', 'banana', 'cherry']

In [4]:
# Inside list different data types
list1=["narendra",12,34.34,(3+4j)]
print(type(list1))
print(list1)

<class 'list'>
['narendra', 12, 34.34, (3+4j)]

In [7]:
city_names = ['pune', 'ahemadnagar', 'mumbai','amravati']

for city_name in city_names:
    print('city name is ',city_name)
    print("*"*40)

city name is  pune
****************************************
city name is  ahemadnagar
****************************************
city name is  mumbai
****************************************
city name is  amravati
****************************************

### list functions/methods

#### 1. append
    >> Adds an item to the end of the list.
####   Syntax:
    list.append(item)

In [8]:
fruits = ["apple", "banana"] 
print(fruits)
fruits.append("cherry")  
print(fruits)

['apple', 'banana']
['apple', 'banana', 'cherry']

In [15]:
var1 = [3,4,5]
var2 = [10,8,9] # this will be considered as single item
y =var1.append(var2)
print(var1)
print(len(var1))

[3, 4, 5, [10, 8, 9]]
4

#### 2. extend()
    >>> Adds all elements of an iterable (e.g., list, tuple) to the end.
#### Syntax:
    list.extend(iterable)

In [13]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

#### 3. insert()
    >> When we want to add item at particulat index
#### Syntax:
    list.insert(index,item)

In [18]:
numbers = [10, 20, 40]  # 
numbers.insert(2, 30)  # Insert 30 at index 2  
print(numbers)

[10, 20, 30, 40]

In [17]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'orange')
print(fruits)

['apple', 'orange', 'banana', 'cherry']

#### 4. remove()
    >> Removes the first occurrence of the item.
#### Syntax:
    list.remove(item)

In [20]:
data = [5, 2, 3, 2]  
data.remove(2)  
print(data)

[5, 3, 2]

In [19]:
var2= [3, 4, 5, 'data',10,10.5]
var2.remove('data')
var2

[3, 4, 5, 10, 10.5]

In [22]:
#remove item "Math" from the list
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
val = 'Math'
if val in sub_names:
    sub_names.remove(val)
    print("item Deleted")
else:
    print("item not found")

item Deleted

#### 5. pop()
    >> Removes and returns the item at index (default: last item).

In [25]:
fruits = ["apple", "banana", "cherry"]  
popped = fruits.pop(1)# Remove "banana"
print(popped) 
poppp=fruits.pop(0) # remove apple
print(poppp)

banana
apple

In [26]:
ls=[1,2,4,5,67,786]
ls.pop(1)
ls
ls.pop() #default last item is removed
ls

[1, 4, 5, 67]

#### 6. clear()
    >> Removes all items from the list.

In [27]:
items = [1, 2, 3]  
items.clear()  
print(items)

[]

#### 7. sort()
    >> Sorts the list in-place (ascending by default).
#### Syntax:
    list.sort() #for ascending order
    list.sort(reverse=True) #for descending order

In [30]:
# Sort in ascending order
numbers = [3, 1, 4, 2]  
numbers.sort()  
print(numbers)

[1, 2, 3, 4]

In [29]:
# Sort in descending order  
numbers.sort(reverse=True)  
print(numbers)

[4, 3, 2, 1]

In [14]:
# Nested list : Inside a list adding another list
nested_list=[5,10,"John",[10,"Ram",23.36]]
print(type(nested_list))
print(len(nested_list))
print(nested_list[0])
# Accessing nested list using indexing
print(nested_list[3][1])

<class 'list'>
4
5
Ram

In [25]:
# 1. Create a list of 5 numbers. Print the first and last elements using indexing.
num_list=[5,10,15,20,25]
print(type(num_list))
print(len(num_list))
print(f"First element of list is {num_list[0]} and last element is {num_list[len(num_list)-1]}")

<class 'list'>
5
First element of list is 5 and last element is 25

In [15]:
# 2. Print the list in reverse using slicing.
num_list=[5,10.15,20,25]
print(num_list[::-1])

[25, 20, 10.15, 5]

In [26]:
# 3. Print the elements from index 1 to 3 (inclusive).
num_list=[5,10,15,20,25]

print(type(num_list))
print(f"First element of list is {num_list[1]} and third element is {num_list[3]}")

<class 'list'>
First element of list is 10 and third element is 20

In [28]:
# 4. Find the sum of all elements in the list using a for loop.
num_list=[5,10,15,20,25]
num=0
for i in num_list:
    num+=i
print(num)

75

In [39]:
# 5. Count how many even numbers are present in the list.
num_list=[5,10,15,20,25]
num=0
for i in num_list:
    if i % 2 ==0:
        num+=1
print(f"There are {num} even numbers present in the list")

There are 2 even numbers present in the list

In [1]:
# 6. Print only the elements at even index positions.
num_list=[5,10,15,20,25]
print("Elements at even index positions:", num_list[::2])

Elements at even index positions: [5, 15, 25]

In [48]:
# 7. Create a list of 5 names. Print each name in uppercase using a for loop.
str_list = []
n = int(input("How many strings do you want to add? "))
for i in range(n):
    word = input(f"Enter string {i+1}: ")
    str_list.append(word.upper())
print("Final list:", str_list)

How many strings do you want to add?  5
Enter string 1:  abi
Enter string 2:  bob
Enter string 3:  john
Enter string 4:  steven
Enter string 5:  edge

Final list: ['ABI', 'BOB', 'JOHN', 'STEVEN', 'EDGE']

In [3]:
# 8. Print the length of the list using len() function.
num_list=[5,10,15,20,25]
list_length=len(num_list)
print(f"The length of list is : {list_length}.")

The length of list is : 5.

In [6]:
#9. Replace the 3rd element of the list with a new value.
num_list=[5,10,15,20,25]
num_list[2]=30
print(num_list)

[5, 10, 30, 20, 25]

In [12]:
# 10 Write a program to filter out odd and even numbers from the list, create two list containing odd and even numbers.
ls=[12,4,23,56,67,87,87,98]
odd_num=[]
even_num=[]
for i in ls:
    if i % 2==0:
        even_num.append(i)
    else:
        odd_num.append(i)
print(f"odd numbers : {odd_num}")
print(f"even numbers : {even_num}")

odd numbers : [23, 67, 87, 87]
even numbers : [12, 4, 56, 98]