### Numeric Datatype
    Integer (int): Whole numbers (age = 30, count = 100).
    Float (float): Decimal numbers (price = 99.99, pi = 3.14159)
    Complex (complex) : Combination of real and imaginary (3+4i)

In [3]:
# int
a=5
b=10
c=a+b
print(c)
# type() is a in-build function that tell what type of date we have stored in variable
print(type(a))
print(type(b))
print(type(c))

15
<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
# float
a1=10.5
b1=30.5
c1=a1+b1
print(c1)
print(type(a1))
print(type(b1))
print(type(c1))

-20.0
<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
# complex.
z1 = 3 + 4j
z2 = 1 + 2j
z3=z1+z2
print(z3)
print(type(z1))
print(type(z2))
print(type(z3))

(4+6j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [11]:
z=4+3j
print(z.real) # to print the real number
print(z.imag) # to print the imaginary number

4.0
3.0

In [31]:
# Absolute Value which convert negative value into positive value
result1 = abs(-7)
print("Absolute Value:", result1)

Absolute Value: 7

## Python Type Casting
    >> Used to specify variable type
    >> To change data type of variable
    >> Not all conversions are possible
    >> TypeError: can't convert ( complex to int, complex to float. 
    >> ValueError: invalid literal for int(),float(), complex() (string to int, string to float & string to complex)

In [16]:
# 1. Coverting int to float
a=50
b=float(a)
print(b)
print(type(a))
print(type(b))

50.0
<class 'int'>
<class 'float'>

In [15]:
# 2. Converting float into int
a= 45.9999999999999
b= int(a)
print(b)
print(type(a))
print(type(b))

45
<class 'float'>
<class 'int'>

In [23]:
# 3. Converting int to complex
a=30
b=complex(a)
print(b)
print(type(a))
print(type(b))

(30+0j)
<class 'int'>
<class 'complex'>

In [27]:
# 4. Converting float into complex
a=49.59868
b=complex(a)
print(b)
print(type(a))
print(type(b))

(49.59868+0j)
<class 'float'>
<class 'complex'>

In [28]:
# 5. Converting int to string
a=7856
b=str(a)
print(b)
print(type(a))
print(type(b))

7856
<class 'int'>
<class 'str'>

In [29]:
# 6. Converting float to string
a=49.59999
b=str(a)
print(b)
print(type(a))
print(type(b))

49.59999
<class 'float'>
<class 'str'>

In [32]:
# 7. Converting complex to string
a=23+1j
b=str(a)
print(b)
print(type(a))
print(type(b))

(23+1j)
<class 'complex'>
<class 'str'>