In [6]:
number=10
print(number)
greeting="Hello"
print(greeting)
print(type(number))
type(number)
print(type(greeting))
type(greeting)

10
Hello
<class 'int'>
<class 'str'>

str

In [1]:
name='S'
type(name)

str

In [5]:
a=-55
b=complex(a)
print(a,type(a))
print(b,type(b))

-55 <class 'int'>
(-55+0j) <class 'complex'>

In [8]:
sample="Local"
print(sample[0])
print(sample[-3])

L
c

In [5]:
sample1="The data is so important to us"
sample2="\nTo update the"
print(sample1+sample2)

The data is so important to us
To update the

In [4]:
number1="123"
num1=int(number1)
print(type(num1),type(number1))

<class 'int'> <class 'str'>

In [7]:
number1=123
var=str(number1)
print(type(number1),type(var))

<class 'int'> <class 'str'>

In [10]:
var1_str="3.14"
var2_float=float(var1_str)
print(type(var1_str),type(var2_float))

(str, float)

In [13]:
string="123"
integer=int(string)
print(integer)

123

In [2]:
string="porsche"
len(string)
#string[0:7]
#string[0:7:2]
string[::3]

'pse'

In [9]:
string = "Hello, World!"
reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print(reversed_string)

!dlroW ,olleH

In [10]:
name="Python"
for char in name:
    print(char)
    print("**********************")

P
**********************
y
**********************
t
**********************
h
**********************
o
**********************
n
**********************

In [13]:
for i in range(1,50,2):
    print("Another number :",i)

Another number : 1
Another number : 3
Another number : 5
Another number : 7
Another number : 9
Another number : 11
Another number : 13
Another number : 15
Another number : 17
Another number : 19
Another number : 21
Another number : 23
Another number : 25
Another number : 27
Another number : 29
Another number : 31
Another number : 33
Another number : 35
Another number : 37
Another number : 39
Another number : 41
Another number : 43
Another number : 45
Another number : 47
Another number : 49

In [24]:
total=0
for n in range (1,11):
    total += n
    print(f"Total number {total}")
    
# print(total)

Total number 1
Total number 3
Total number 6
Total number 10
Total number 15
Total number 21
Total number 28
Total number 36
Total number 45
Total number 55

In [33]:
for num in range(5):
    if num % 2 ==0:
        continue
    print(num)

1
3

In [34]:
count =1
while count <= 5:
    print(count)
    count +=1

1
2
3
4
5

In [8]:
print("Hello world")
print("Hello\nWorld")
print("Hello\tworld")
print("C:\\User\\jaga\\python")
print("It\'s my profile")
print("Hey \"My notebook\'s\" are they")
print('It\'s a sunny day')      # Single quote
print("She said, \"Hi!\"")      # Double quote

Hello world
Hello
World
Hello	world
C:\User\jaga\python
It's my profile
Hey "My notebook's" are they
It's a sunny day
She said, "Hi!"

In [11]:
path = r"C:\\Users\\Documents\\file.txt"
print(path)

C:\\Users\\Documents\\file.txt

In [13]:
info = ("Alice", 25, "Engineer")
print(info[1])  #

25

In [20]:
colors = ["red", "green", "blue"]
print(len(colors))  # 3

3

In [31]:
text = "Python"
print(text[0:6:1])   # 'Pto' (every second character)
print(text[-1:-7:-1])  # 'nohtyP' (reversed)

Python
nohtyP

In [1]:
x=10
x+=5
print(x)

15

In [8]:
code1="123abdyd"
print(code1.isalnum())

True

In [18]:
word1='123456'
print(word1.isnumeric())

True

In [2]:
t="567"
print(len(t))

3

In [9]:
x=10
if x > 3:
    print("Positive number")
elif x>= 2:
    print("Positive number")
else:
    print("Negative number")

Positive number

In [17]:
marks=int(input("Enter your marks from 1-100):"))
if marks >= 90:
    print("A grade")
elif marks >= 80:
    print("B grade")
elif marks >=70:
    print("C grade")
elif marks >= 60:
    print("E garde")
else:
    print("Fail")

Enter your marks from 1-100): 55

Fail

In [18]:
x = 10

if x > 5:  # First condition
    print("x is greater than 5")
    
if x % 2 == 0:  # Second condition, independent of the first
    print("x is an even number")

x is greater than 5
x is an even number

In [9]:
correct_username ="Admin"
correct_password =12345

# Get user input
username = input("Enter username: ")
password = int(input("Enter password: "))

if username.title() == correct_username.title() and password == correct_password:
    print("Login successful!")
elif username.title() !=correct_username.title() or password != correct_password:
    print("Incorrect username or Incorrect password")
else:
    print("Incorrect password.")

Enter username:  admin
Enter password:  12345

Login successful!

In [31]:
x = 5
y = 10
print(f"{x}+{y}={x+y}")

5+10=15

In [36]:
for i in range(1, 6):
    print(f"Square of {i} is {i**2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [48]:
for i in range(1, 6):
    print(f"{i:<10} | {i**2:>10}")  # Left align i, right align square

1          |          1
2          |          4
3          |          9
4          |         16
5          |         25

In [50]:
print("HELLO".isupper())

True

In [58]:
fruits = ["apple", "banana", "cherry"]
for n, fruit in enumerate(fruits, start=0):
    print(f"{n} | {fruit}")

0 | apple
1 | banana
2 | cherry

In [60]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [63]:
for i in list(range(5)):
    print(i)

0
1
2
3
4

In [1]:
for i in range(-10,-1,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [23]:
n1=("Python")
print(len(n1))
n2=n1[0:len(n1)]
n4=-len(n1)-1
n3=n1[-1:-len(n1)-1:-1]
print(n3)
print(n2)

6
nohtyP
Python

In [1]:
string = 'python'

for index,char in enumerate(string,start=3):
    print(index,char)

3 p
4 y
5 t
6 h
7 o
8 n

In [1]:
var="welcome"
r=""
len_1=len(var)
for i in range(-1,-len_1-1,-1):
    r+=var[i]
    print(r)

e
em
emo
emoc
emocl
emocle
emoclew

In [5]:
print("Hello World")

Hello World

In [27]:
var="python"
print(var[0])
print(var[1])
print(var[2])
print(var[3])
print(var[4])
print(var[5])
var1=len(var)
print(var1)
print(var[0:var1],"Hey")
print(var[-1:-1-len(var):-1])
a_1=range(0,5)
print(a_1)

p
y
t
h
o
n
6
python Hey
nohtyp
range(0, 5)

In [61]:
year=int(input("Enter the year :"))
if year % 4 ==0:
    if year % 400==0:
        if year % 100 !=0:
            print(f"This {year} is a leap year")
        else:
            print(f"This {year} is not a leap year")
    else:
        print(f"This {year} is a leap year")
else:
    print(f"This {year} is not a leap year")

Enter the year : 2024

This 2024 is a leap year

year=int(input("Enter the year :"))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"This {year} is a leap year",'1')
else:
    print(f"This {year} is not a leap year",'0')

In [71]:
var1=""
for i in "apple":
    print(i)
    var1+=i
print(var1)

a
p
p
l
e
apple

In [73]:
for i in range(1,13):
    print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24